body {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    background-color: #1c4147;
}

h1 {
    text-align: center;
    color: #eaea6b;
    font-family: syne;
    font-weight: bolder;
    font-size: 50px;
}

form {
    width: 400px;
    margin: 0 auto;
}

.todo_text{
    width: 100%;
}

.new_todo {
    color: #ffffff;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    height: auto;
    background-color: #478888;
    margin-top: 30px;
    padding-bottom: 25px;
}

.new_todo b {
    position: relative;
    top: 12px;
}

button {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}

.del_btn {
    color: white;
    background-color: #346067;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    position: absolute;
    left: 795px;
}

.edit_btn {
    color: white;
    background-color: #346067;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    position: absolute;
    left: 880px;
}

.edit_input {
    position: absolute;
    left: 1043px;
    width: 300px;
    height: 36px;
}

.checkbox {
    position: absolute;
    left: 440px;
    margin-top: 14px;
}

#done {
    width: 570px;
    margin: 0 auto;
    background-color: white;
    opacity: 40%;
    position: relative;
    top: 50px;
    padding-left: 30px;
    padding-top: 20px;
}

.done i {
    display: block;
    padding-bottom: 15px;
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
    color: #053f48;
    text-decoration: line-through;
}